@import '../../../styles/abstracts/variables';

.generic-modal {
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  background: $bg-primary;
  color: $text-primary;
  border-radius: $border-radius-lg;
  overflow: auto;
  padding: $spacing-lg;
  align-items: center;
  &__buttons {
    display: flex;
    gap: $spacing-md;
  }
}
