# Dependencies
node_modules

# Build outputs
dist
out-tsc
bazel-out

# Coverage
coverage

# Angular cache
.angular

# Misc
*.log
.DS_Store
Thumbs.db

# Netlify configuration
netlify.toml

# También ignora otros archivos de config si quieres
*.toml