<form [formGroup]="formGroup">
  <fs-input
    class="name"
    label="Nombre del Presupuesto"
    type="text"
    id="name"
    width="100%"
    formControlName="name"
    placeholder="Ingresa el nombre del presupuesto"
  ></fs-input>

  <fs-date-picker
    label="Fecha de Inicio"
    id="start-date"
    formControlName="startDate"
    placeholder="Selecciona la fecha de inicio"
  ></fs-date-picker>

  <fs-date-picker
    label="Fecha de Fin"
    id="end-date"
    formControlName="endDate"
    placeholder="Selecciona la fecha de fin"
  ></fs-date-picker>

  <fs-select-input
    label="Moneda"
    id="currency"
    formControlName="currency"
    [options]="currencyOptions"
    placeholder="Selecciona la moneda"
  ></fs-select-input>
</form>
