@import 'abstracts/variables';
@import 'components/utilities';

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-lg;
  .name {
    grid-column: span 2;
  }
  @include mobile {
    grid-template-columns: 1fr;
    .name {
      grid-column: span 1;
    }
  }
}
