<div class="incomes-detail">
  <div class="incomes-detail__header">
    <h2>Ingresos</h2>
    <div class="incomes-detail__header__total">
      <span class="material-icons">trending_up</span>
      <span> {{ totalIncomes | currency: currency : 'symbol-narrow' : '1.2-2' }}</span>
    </div>
  </div>
  <div class="incomes-detail__content">
    @for (item of incomes; track $index) {
      <div class="incomes-detail__content__item">
        <span class="incomes-detail__content__item__description">{{ item.concept }}</span>
        <span class="incomes-detail__content__item__amount">{{
          item.amount | currency: currency : 'symbol-narrow' : '1.2-2'
        }}</span>
        <button
          disabled
          class="delete-btn"
          type="button"
          (click)="deleteIncomeEntry($index)"
        >
          <span class="material-icons">delete</span>
        </button>
      </div>
    }
  </div>
</div>
