@import 'abstracts/variables';
@import 'components/utilities';

.incomes-detail {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: $spacing-md;
    border-bottom: $border-light;
    margin-bottom: $spacing-md;
    h2 {
      margin: 0;
    }
    &__total {
      display: flex;
      align-items: center;
      gap: $spacing-sm;
      // Color pendiente de ajustar a dark theme
      background: #1f3938;
      border-radius: $border-radius-md;
      padding: $spacing-xs $spacing-sm;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    &__item {
      display: flex;
      align-items: center;
      padding: $spacing-sm 0;
      border-bottom: $border-light;
      &:last-child {
        border-bottom: none;
      }
      &__description {
        font-size: $font-size-md;
        color: $text-primary;
      }
      &__amount {
        font-size: $font-size-md;
        font-weight: bold;
        color: $primary-color;
        margin-left: auto;
      }
    }
  }

  @include mobile {
    &__header {
      flex-direction: column;
      align-items: flex-start;
      gap: $spacing-sm;
      &__total {
        margin-left: 0;
      }
    }
    &__content {
      &__item {
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        &__amount {
          margin-left: 0;
          margin-top: $spacing-xs;
        }
        .delete-btn {
          position: absolute;
          top: $spacing-sm;
          right: 0;
        }
      }
    }
  }
}
