<div class="input-container" [ngClass]="variant" [style.width]="width">
  @if (label) {
    <label [for]="id">{{ label }}</label>
  }
  @if (currencyMask) {
    <input
      [type]="type"
      [placeholder]="placeholder"
      [id]="id"
      [ngClass]="[variant, showErrors ? 'input-error' : '']"
      [style.width]="width"
      [formControl]="internalControl"
      CurrencyMask
      [currencyMask]="currencyOptions"
    />
  } @else {
    <input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      [id]="id"
      (input)="onInputChange($event)"
      (blur)="onTouched()"
      [ngClass]="[variant, showErrors ? 'input-error' : '']"
      [style.width]="width"
      [disabled]="disabled"
    />
  }
  @if (showErrors) {
    <span class="error-message">{{ errorMessage }}</span>
  }
</div>
