@import 'abstracts/variables';

.budget-expenses {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-lg;
    border-bottom: $border-light;
    padding-bottom: $spacing-md;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-md;
    &__row {
      fs-input,
      fs-select-input {
        width: 100%;
        min-width: 0;
      }
      grid-column: span 4;
      display: grid;
      gap: $spacing-md;
      align-items: center;
      justify-content: center;
      grid-template-columns: 4fr 4fr 3fr 3fr 1fr;
    }
    &__empty {
      grid-column: span 4;
      text-align: center;
      color: $text-secondary;
      margin: $spacing-xl 0;
      border: $border-light;
      padding: $spacing-xxl;
      background: $bg-secondary;
      border-radius: $border-radius-md;
    }
  }
}
