<div class="new-budget">
  <div class="new-budget-header">
    <h1>Nuevo presupuesto</h1>
    <h2>{{ currentStep.title }}</h2>
    <p>
      Paso {{ currentStep.stepIndex + 1 }} de {{ steps.length }}:
      {{ currentStep.caption }}
    </p>
  </div>

  @switch (currentStep.stepIndex) {
    @case (0) {
      <app-budget-info-step [formGroup]="getInfoFormGroup()"></app-budget-info-step>
    }
    @case (1) {
      <app-budget-incomes-step
        [formArray]="getFormArray('incomes')"
        [selectedCurrency]="currencySelected"
      ></app-budget-incomes-step>
    }
    @case (2) {
      <app-budget-categories-step
        [formArray]="getFormArray('categories')"
      ></app-budget-categories-step>
    }
    @case (3) {
      <app-budget-expenses-step
        [categoriesInput]="categories"
        [formArray]="getFormArray('expenses')"
        [selectedCurrency]="currencySelected"
      ></app-budget-expenses-step>
    }
  }

  <div class="new-budget__actions">
    <fs-button
      label="Cancelar"
      type="button"
      variant="tertiary"
      [disabled]="loading"
      (click)="cancel()"
    ></fs-button>
    <fs-button
      class="back-btn"
      label="Anterior"
      type="button"
      variant="secondary"
      (click)="previousStep()"
      [disabled]="currentStep.stepIndex === 0 || loading"
    ></fs-button>
    <fs-button
      [label]="buttonText"
      type="button"
      [loading]="loading"
      (click)="nextStep()"
      [disabled]="!steps[currentStep.stepIndex].enabled || buttonDisabled || loading"
    ></fs-button>
  </div>
</div>
