@import 'abstracts/variables';

.new-budget {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  background: $bg-secondary;
  padding: $spacing-xl;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-md;

  &__actions {
    border-top: $border-light;
    padding: $spacing-lg 0 0 0;
    display: flex;
    justify-content: space-between;
    gap: $spacing-md;
    .back-btn {
      margin-left: auto;
    }
  }
}
