<div class="budgets__header">
  <h1>Presupuestos</h1>
  <fs-button (click)="newBudget()" icon="add" label="Nuevo presupuesto"></fs-button>
</div>

<form [formGroup]="form" class="budgets__filter">
  <fs-input
    label="Nombre del presupuesto"
    type="text"
    id="budget-name"
    placeholder="Ejemplo: Presupuesto mensual"
    [width]="'100%'"
  ></fs-input>
  <fs-select-input
    label="Categoría"
    formControlName="category"
    id="budget-category"
    [options]="[
      { value: 'food', label: 'Alimentación' },
      { value: 'transport', label: 'Transporte' },
      { value: 'entertainment', label: 'Entretenimiento' },
    ]"
    placeholder="Selecciona una categoría"
    [width]="'100%'"
  ></fs-select-input>
  <fs-date-picker
    formControlName="startDate"
    [label]="'Rango de fechas'"
    [mode]="'single'"
  ></fs-date-picker>
  <fs-button icon="clear" label="limpiar filtro"></fs-button>
</form>

<div class="budgets__cards">
  @for (item of budgets$().budgets; track $index) {
    <fs-generic-card [title]="item.name">
      <div card-content class="budgets__card-content">
        <span>{{ item.startDate | date }} - {{ item.endDate | date }}</span>
        <span>{{ item.currency }}</span>
        <span
          >{{
            item.availableMoney | currency: item.currency : 'symbol-narrow'
          }}
          Disponible</span
        >
        <mat-progress-bar
          mode="determinate"
          [value]="(item.availableMoney / item.totalIncomes) * 100"
        ></mat-progress-bar>
      </div>
    </fs-generic-card>
  }
</div>
