@import 'abstracts/variables';

.budgets {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__filter {
    margin-top: $spacing-md;
    margin-bottom: $spacing-lg;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: $spacing-md;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    gap: $spacing-lg;
  }
  &__card-content {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    border-radius: $border-radius-sm;
    transition: box-shadow $transition-normal;
  }
}
