<div class="dashboard-layout">
  <!-- Overlay for mobile -->
  @if (isMobile) {
    <div
      class="dashboard-layout__overlay"
      [class.show]="isMobile && isSidebarOpen"
      (click)="toggleSidebar()"
    ></div>
  }

  <!-- Sidebar -->
  @if (isMobile && !isSidebarOpen) {
    <button class="sidebar__toggle" (click)="toggleSidebar()">
      <span class="material-icons">menu</span>
    </button>
  }

  <aside class="sidebar" [class.open]="isSidebarOpen">
    @if (isMobile) {
      <button class="sidebar__close" (click)="toggleSidebar()">
        <span class="material-icons">close</span>
      </button>
    }
    <div>
      <h2>FinanSmart</h2>
    </div>
    <div class="sidebar__items">
      @for (item of items; track $index) {
        <div
          [ngClass]="{ active: item.active }"
          [routerLink]="['/dashboard' + item.route]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeSidebar()"
          class="sidebar__item"
        >
          <span class="material-icons">{{ item.icon }}</span>
          <span>{{ item.label }}</span>
        </div>
      }
    </div>
    <div class="sidebar__bottom">
      <div class="sidebar__account">
        <div class="sidebar__account-icon">
          <span>{{ userData().initialLetters }}</span>
        </div>
        <div class="sidebar__account-info">
          <span class="sidebar__account-name">{{ userData().userProfile?.name }}</span>
          <span class="sidebar__account-email">{{ userData().userProfile?.email }}</span>
        </div>
      </div>
      <fs-button
        label="Cerrar Sesion"
        (click)="logout()"
        type="button"
        variant="secondary"
        icon="logout"
        id="btn-logout"
      ></fs-button>
    </div>
  </aside>

  <!-- Main content -->
  <main class="main-content">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
