@import 'abstracts/variables';

.dashboard-layout {
  display: flex;
  height: 100vh;
  background: $bg-primary;

  .sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    background: $bg-secondary;
    padding: $spacing-lg;
    border-right: 1px solid $gray-700;
    transition: transform $transition-normal ease-in-out;

    &.closed {
      transform: translateX(-100%);
    }
    &__items {
      display: flex;
      flex-direction: column;
      gap: $spacing-md;
    }
    &__item {
      display: flex;
      align-items: center;
      gap: $spacing-sm;
      padding: $spacing-sm $spacing-md;
      border-radius: $border-radius-md;
      color: $text-primary;
      cursor: pointer;

      &:hover {
        background: rgba($primary-color, 0.1);
        color: $primary-color;
      }

      .material-icons {
        font-size: 20px;
      }
      &.active {
        background: rgba($primary-color, 0.15);
        color: $primary-color;
      }
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      gap: $spacing-md;
      margin-top: auto;
      padding-top: $spacing-lg;
      border-top: 1px solid $gray-700;
    }
    &__account {
      display: grid;
      gap: $spacing-sm;
      grid-template-columns: 30px auto;
      align-items: center;
      &-icon {
        font-size: 14px;
        color: $text-secondary;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $gray-700;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-info {
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      &-name {
        font-size: $font-size-md;
        font-weight: 600;
        color: $text-primary;
      }
      &-email {
        font-size: $font-size-xs;
        color: $text-secondary;
      }
    }
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: $spacing-xxl;
    background: $bg-primary;
    overflow-y: auto;
  }
}
