@import 'abstracts/variables';

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $gradient-primary;
  color: $white;

  h1 {
    font-size: $font-size-4xl;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-md;
  }

  p {
    font-size: $font-size-xl;
  }
}
