<div class="budget-incomes">
  <div class="header">
    <h3>Fuentes de Ingresos</h3>
    <fs-button label="Agregar ingreso" icon="add" (click)="addIncome()"></fs-button>
  </div>
  <div class="content">
    @if (getControls().length > 0 && !isMobile) {
      <span>Concepto</span>
      <span>Monto</span>
    }
    @for (item of getControls(); track $index) {
      <div class="content__row" [formGroup]="getGroup($index)">
        <fs-input
          [label]="isMobile ? 'Concepto' : ''"
          formControlName="concept"
        ></fs-input>
        <fs-input
          formControlName="amount"
          [label]="isMobile ? 'Monto' : ''"
          [currencyMask]="true"
          [currencyFormat]="selectedCurrency"
        ></fs-input>
        <!-- TODO: pending replace with fs-button when available -->
        <button class="delete-btn" type="button" (click)="removeIncome($index)">
          <span class="material-icons">delete</span>
        </button>
      </div>
    } @empty {
      <div class="content__empty">
        <p>No se han agregado ingresos aún. Agrega uno para comenzar.</p>
      </div>
    }
  </div>
</div>
