<div class="login-page">
  <div class="login-page__card">
    <h1>Bienvenido a FinanSmart</h1>
    <span>Ingresa tus credenciales para continuar</span>
    <form class="login-page__form" [formGroup]="form">
      <fs-input
        width="100"
        label="Correo electrónico"
        type="text"
        id="username"
        width="100%"
        formControlName="username"
        placeholder="Digita tu correo electrónico"
      ></fs-input>
      <div class="login-page__password-field">
        <fs-input
          label="Contraseña"
          [type]="hidePassword ? 'password' : 'text'"
          id="password"
          width="100%"
          placeholder="Digita tu contraseña"
          formControlName="password"
        >
        </fs-input>
        <button
          class="toggle-visibility-btn"
          type="button"
          (click)="togglePasswordVisibility()"
          id="btn-pass-visibility"
        >
          <span class="material-icons">{{
            hidePassword ? 'visibility' : 'visibility_off'
          }}</span>
        </button>
      </div>
      @if (errorMessage) {
        <div class="login-page__error">{{ errorMessage }}</div>
      }
      <a
        id="forgot-password-link"
        (click)="goToResetPassword()"
        class="link login-page__link"
        >¿Olvidaste tu contraseña?</a
      >
      <fs-button
        [disabled]="buttonDisabled"
        [loading]="loading"
        (click)="login()"
        type="button"
        id="btn-icon"
        label="Ingresar"
      ></fs-button>
    </form>
    <span>
      No tienes una cuenta?
      <a id="sign-up-link" class="link" (click)="goToSignUp()">Crear una cuenta</a>
    </span>
  </div>
</div>
