@import 'abstracts/variables';

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-primary;
  h1 {
    text-align: center;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-lg;
    padding: $spacing-xxl;
    background: $bg-secondary;
    border-radius: $border-radius-md;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__link {
    align-self: center;
    margin-bottom: $spacing-md;
  }
  &__password-field {
    position: relative;
    display: flex;
    width: 100%;
    fs-input {
      width: 100%;
    }
    .toggle-visibility-btn {
      position: absolute;
      right: $spacing-sm;
      bottom: 1.3rem;
      background: none;
      color: $text-muted;
    }
  }
  &__error {
    color: $error-color;
    font-size: $font-size-sm;
    margin-bottom: $spacing-sm;
    text-align: center;
  }
}
