<div class="budget-detail">
  @if (budgetDetail) {
    <h1>{{ budgetDetail.name }}</h1>

    <div class="budget-detail__content">
      <div class="budget-detail__content__column">
        <div class="budget-detail__content__card">
          <div class="card-header">
            <span>Monto disponible</span>
            <span class="material-icons">account_balance_wallet</span>
          </div>
          <h2>
            {{
              availableAmount
                | currency: budgetDetail.currency : 'symbol-narrow' : '1.2-2'
            }}
          </h2>
        </div>
        <div class="budget-detail__content__card">
          <div class="card-header">
            <span>Disponible esperado</span>
            <span class="material-icons">savings</span>
          </div>
          <h2>
            {{
              availableExpected
                | currency: budgetDetail.currency : 'symbol-narrow' : '1.2-2'
            }}
          </h2>
          <span class="caption">Proyectado despues de pagar</span>
        </div>
        <div class="budget-detail__content__card">
          <div class="card-header">
            <span>Dias restantes</span>
            <span class="material-icons">calendar_today</span>
          </div>
          <h2>{{ budgetDetail.daysRemaining }}</h2>
        </div>
        <div class="budget-detail__content__card">
          <div class="card-header">
            <span>Presupuesto usado</span>
            <span>{{ budgetDetail.percentageUsed }}%</span>
          </div>
          <mat-progress-bar
            mode="determinate"
            [value]="budgetDetail.percentageUsed"
          ></mat-progress-bar>
        </div>
        <fs-button
          [disabled]="loading"
          label="Agregar ingreso"
          icon="add"
          (click)="addItem(true)"
        ></fs-button>
        <fs-button
          [disabled]="loading"
          label="Agregar gasto"
          icon="add"
          variant="secondary"
          (click)="addItem(false)"
        ></fs-button>
        <fs-button
          [loading]="loading"
          label="Guardar cambios"
          icon="save"
          variant="tertiary"
          (click)="updateBudget()"
        ></fs-button>
      </div>
      <div class="budget-detail__content__column right-column">
        <div class="budget-detail__content__card">
          <app-incomes-detail
            [incomes]="budgetDetail.incomes"
            [totalIncomes]="totalIncomes"
            [currency]="budgetDetail.currency"
            (deleteIncome)="calculateTotals()"
          ></app-incomes-detail>
        </div>
        <div class="budget-detail__content__card">
          <app-expenses-detail
            [expenses]="budgetDetail.expenses"
            [totalExpenses]="totalExpenses"
            [categories]="categories()"
            (update)="calculateTotals()"
          ></app-expenses-detail>
        </div>
      </div>
    </div>
  }
</div>
