@import 'abstracts/variables';

.budget-detail {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $spacing-xl;
    &__column {
      display: flex;
      flex-direction: column;
      gap: $spacing-lg;
    }
    .right-column {
      grid-column: span 2;
    }
    &__card {
      position: relative;
      background-color: $bg-secondary;
      box-shadow: $shadow-md;
      border-radius: $border-radius-md;
      padding: $spacing-lg;
      transition:
        box-shadow $transition-normal,
        border-color $transition-normal;
      .caption {
        color: $text-muted;
      }
      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .material-icons {
          color: $text-muted;
          font-size: $font-size-md;
        }
      }
      mat-progress-bar {
        margin-top: $spacing-sm;
      }
    }
  }
}
