@import 'abstracts/variables';

.expenses-detail {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: $spacing-md;
    border-bottom: $border-light;
    margin-bottom: $spacing-md;
    h2 {
      margin: 0;
    }
    &__total {
      display: flex;
      align-items: center;
      gap: $spacing-sm;
      // Color pendiente de ajustar a dark theme
      background: $error-dark;
      border-radius: $border-radius-md;
      padding: $spacing-xs $spacing-sm;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    max-height: 390px;
    overflow-y: auto;
    &__menu-button {
      margin-right: 10px;
      color: $text-muted;
      &__item {
        ::ng-deep .mat-mdc-menu-item-text {
          display: flex;
          align-items: center;
          gap: $spacing-sm;
        }
      }
    }
    &__item {
      display: flex;
      align-items: center;
      padding: $spacing-sm 0;
      border-bottom: $border-light;
      gap: $spacing-md;
      &:last-child {
        border-bottom: none;
      }
      &__icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__description {
        font-size: $font-size-md;
        color: $text-primary;
      }
      &__status {
        margin-left: auto;
        font-size: $font-size-sm;
        color: $text-secondary;
      }
      &__amount {
        font-size: $font-size-md;
        font-weight: bold;
        color: $primary-color;
      }
    }
  }
}
