<div class="expenses-detail">
  <div class="expenses-detail__header">
    <h2>Gastos</h2>
    <div class="expenses-detail__header__total">
      <span class="material-icons">trending_down</span>
      <span> {{ totalExpenses | currency: currency : 'symbol-narrow' : '1.2-2' }}</span>
    </div>
  </div>
  <div class="expenses-detail__content">
    @for (item of expenses; track $index) {
      <div class="expenses-detail__content__item">
        <div
          class="expenses-detail__content__item__icon"
          [style.background]="item.category.color"
        >
          <span class="material-icons">{{ item.category.icon }}</span>
        </div>
        <span class="expenses-detail__content__item__description">{{
          item.concept
        }}</span>
        <span class="expenses-detail__content__item__status">
          {{ item.status === 'PAID' ? 'Pagado' : 'Pendiente' }}
        </span>
        <span class="expenses-detail__content__item__amount">{{
          item.amount | currency
        }}</span>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          class="expenses-detail__content__menu-button"
        >
          <span class="material-icons">more_vert</span>
        </button>
        <mat-menu #menu="matMenu">
          <button
            class="expenses-detail__content__menu-button__item"
            mat-menu-item
            (click)="updateExpense($index)"
          >
            <span class="material-icons">check_circle</span>
            <span>Cambiar estado</span>
          </button>
          <button
            class="expenses-detail__content__menu-button__item"
            mat-menu-item
            (click)="deleteExpense($index)"
          >
            <span class="material-icons">delete</span>
            <span>Eliminar</span>
          </button>
        </mat-menu>
      </div>
    }
  </div>
</div>
